
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @tmpuser.email %>様、購入管理システムへようこそ。</h1>
      <p>
      購入管理システムへのサインアップ権を進呈いたします。
    </p>
    <p>
      このサイトにサインアップするには、<%= @url+@tmpuser.uuid %>をクリックしてください。
    </p>
  </body>
</html>